.overlay {
    /* Sit on top of the page content */
    position: absolute;
    /* Full width (cover the whole page) */
    width: auto;
    /* Full height (cover the whole page) */
    height: auto;
    /* Stay at the top */
    top: 0;
    /* Stay at the left */
    left: 0;
    /* Stay at the right */
    right: 0;
    /* Stay at the bottom */
    bottom: 0;
    /* Black background with opacity */
    background-color: black;
    opacity: 0.9;
    /* Add a pointer on hover */
    cursor: pointer;
    /* Use a grid for easy centering */
    display: grid;
    /* Center vertically and horizontally */
    place-content: center;
}

.overlay::after {
    /* Add content : "X" */
    content: "X";
    /* White text color */
    color: white;
    /* Black background color */
    background-color: black;
    /* Font family "sans-serif" */
    font-family: sans-serif;
    /* Centered text */
    text-align: center;
    /* Line height ( idem height ) */
    line-height: 2rem;
    /* Display as a block */
    display: block;
    /* Position absolute */
    position: absolute;
    /* 1rem from the top */
    top: 1rem;
    /* 1rem from the right */
    right: 1rem;
    /* 2rem width */
    width: 2rem;
    /* 2rem height */
    height: 2rem;
    /* White border of 2px */
    border: solid white 2px;
    /* Rounded border */
    border-radius: 50%;
}

.overlay>figure {
    /* Max width of the figure : 100% */
    max-width: 100%;
    /* Max height of the figure : 100% */
    max-height: 100%;
    /* No margin */
    margin: 0;
    /* 1rem padding */
    padding: 1rem;
    /* White border of 2px */
    border: solid white 2px;
}